Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["yumme-images"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile" 
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      SMTP = email-smtp.us-east-1.amazonaws.com
      smtp_port = 25
      username = AKIAJBNRUQHOKJFYZ4HQ
      password = AlHFkWmTp8vgYHmzC3igAIi4YlUqSyhxrGnPOUNYlgT8
  
"/etc/images" :
   mode: "000400"
   owner: root
   group: root
   authentication: "S3Auth" # Matches to auth block above.
   source: https://s3-us-east-1.amazonaws.com/yumme-images/images
  
"/etc/default.png" :
   mode: "000400"
   owner: root
   group: root
   authentication: "S3Auth" # Matches to auth block above.
   source: https://s3-us-east-1.amazonaws.com/yumme-images/images/default.png